:root {
  line-height: 1.5;
  font-weight: 600;
  font-size: 16px;
  color-scheme: light dark;
  color: hsl(169, 82%, 27%);
  background-color: hsl(148, 38%, 91%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}